<header>
  <h1>Roman Budnikov's website</h1>
  <div class="links">
    <a href="https://github.com/romanyx" class="github" target="_blank">
      github
    </a>
    <a href="https://gitlab.com/romanyx" class="gitlab" target="_blank">
      gitlab
    </a>
    <a href="https://medium.com/@romanyx90" class="medium" target="_blank">
      medium
    </a>
    <a href="https://twitter.com/romanyx0" class="twitter" target="_blank">
      twitter
    </a>
    <a href="https://www.linkedin.com/in/roman-budnikov-a704ba121/" class="linkedin" target="_blank">
      linkedin
    </a>
    <a href="https://romanyx.ru/cv" class="twitter" target="_blank">
      cv
    </a>
  </div>
</header>
<section class="content">
  <h2>About</h2>
  <p class="description">
    Software Engineer with more than 7 years of experience in web development. I use Go, Vim. I am eager to learn, try new things and improve.
  </p>
  <h2>Publications</h2>
  {{ range .Stories }}
    <p><a href="{{ .Link }}" target="_blank">{{ .Title }}</a></p>
  {{ end }}
</section>
